<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="response" style="margin: 20px; font-size: 20px;"></div>

<script>
    $(function() {
        $.ajax("http://localhost:9090/hi")
            .done(function(msg) {
                $('#response').text(msg);
            })
            .fail(function() {
                $('#response').text("CORS FAIL");
            });
    });
</script>
</body>
</html>
